* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-image: linear-gradient(90deg, #aef9e0 0%, #b8e0ed 50%, #9accf3 100%);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}